<p>Hey {{ firstName }},</p>
<p>Please click below to confirm your email</p>
<p>
  email: {{ user.email }}
</p>
<p>
  email: {{ user.password }}
</p>

<p>If you did not request this email you can safely ignore it.</p>
